@model Fall2024_Assignment3_cpmccann.Models.ActorModel
@{
    ViewBag.Title = "ActorResults";
    ActorModel model = Model;
}

<div id="actorResultsStart" class="container mt-4">
    <h2 class="text-center">@Model.ActorList?.Count Results</h2>
    <div class="row">
        @if (Model.ActorList != null && Model.ActorList.Count > 0)
        {
            foreach (Actor actor in Model.ActorList)
            {
                string moviesRaw = "No movies found!";
                string moviesFormatted = "No movies found!";

                if (actor.Movies != "No movies found!" && actor.Movies != null) {
                    moviesRaw = actor.Movies;
                    List<string> m = new List<string>(actor.Movies.Split(" $ "));
                    for (var i = 0; i < m.Count; i++)
                    {
                        m[i] = m[i].Split(" | ")[1];
                    }
                    moviesFormatted = string.Join(", ", m);
                }
                string? tweets = actor.Tweets != "" ? actor.Tweets : "No tweets yet!";

                <div class="col-md-4 mb-4 d-flex" onclick="OpenViewActorModal(`@actor.Name`,
                                        @actor.Age, `@actor.Gender`, '@actor.ImdbLink',
                                        '@actor.CoverImageLink', `@moviesRaw`, `@tweets`)">
                    <div class="card flex-fill hover-grow">
                        <div class="blurred-background" style="background-image: url(@actor.CoverImageLink)"></div>
                        <div class="overlay"></div>
                        <div class="card-body d-flex flex-column" style="position: relative; z-index: 2; color: ghostwhite;">
                            <h5 class="card-title">@actor.Name - @actor.Age</h5>
                            <p class="card-text">
                                <strong>Gender:</strong> @actor.Gender <br/>
                            </p>
                            <p class="card-text">
                                <strong>Movies:</strong> @moviesFormatted <br />
                            </p>
                            <div class="mt-auto d-flex justify-content-between">
                                <a class="btn btn-danger"
                                   asp-area=""
                                   asp-controller="Actor"
                                   asp-action="DeleteActor"
                                   asp-route-id="@actor.Id"
                                   onclick="event.stopPropagation();">
                                    Delete Actor
                                </a>
                                <button class="btn btn-info"
                                        onclick="event.stopPropagation(); OpenEditActorModal(
                                    @actor.Id, '@actor.Name', @actor.Age, '@actor.Gender',
                                    '@actor.ImdbLink', '@actor.CoverImageLink', '@moviesRaw')">
                                    Edit Actor
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-warning text-center" role="alert">
                    No actors available.
                </div>
            </div>
        }
    </div>
    <span style="display: none;" id="actorResultsEnd"></span>
</div>
